.registro{
    padding: 180px 25px;
}

.loginForm {
    text-align: center;
    padding: 20px;
    margin-bottom: 90px;
    background-color: #fcf5f0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.loginForm h3 {
    color: #670000;
}

.title {
    color: #670000;
    margin-bottom: 20px;
}

.btnRegistro {
    margin: 25px 0;
    background: #670000;
    font-size: 15px;
    border: 1px solid #670000;
    color: #fcf5f0;
    border-radius: 3px;
    transition: all 0.3s ease;
}
.btnRegistro:hover {
    background: #fcf5f0;
    color: #670000;
    border: 1px solid #670000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.registroButton {
    background: #670000;
    padding: 10px 20px;
    border: none;
    border-radius: var(--border-radius, 8px);
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 20px 0;
    color: #fcf5f0;
    border: 1px solid #670000;

}

.registroButton:hover {
    background: #450101;
    color: #fff;
    border: 1px solid #670000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.registroButton:disabled {
    background: #ccc;
    color: #666;
    cursor: not-allowed;
}



.inputGroup {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 15px;
    width: 100%;
}

.inputGroup label {
    color: #670000;
}

@media (max-width: 600px) {
    .loginForm {
        padding: 10px;
    }

    .inputGroup {
        margin: 10px 0;
    }

    .btnRegistro {
        width: 100%;
        font-size: 14px;
    }
}