.products{
    padding-top: 20px;
}

.productsContent{
 display: flex;
}

.productsListContainer{
    padding-left: 2%;
    padding-right: 2%;
    flex: 8;
    margin: 0 0 15px;
}

.productsListContainer .productItem{
    width: 240px;
    margin-left: 10px;
    margin-right: 10px;
}


@media screen and (max-width: 650px) {

    .div-prod-details-indx{
        margin-bottom: 5px;
    }
 
    .productsListContainer .productItem {
        width: 150px;
        margin: 0 5px;
        flex: auto;
    }
    .productItem {
        font-size: small;
    }
    .prod-details-index {
        font-size: 16px;
    }
    .tituloProducto{
        font-size: 24px;
        margin-top: 10px;
    }

}


@media screen and (max-width: 450px) {
 


    .productsListContainer .productItem  img{
        width: 150px;
    }

    .productItem {
        font-size: x-small;
    }

}